# Project exclude paths
/.gradle/
/Topics/Integer types and operations/Difference of times/out/
/Topics/Integer types and operations/Difference of times/out/production/classes/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/
/Topics/Integer types and operations/How many nuts each squirrel will get/out/production/classes/
/Topics/Integer types and operations/Theory/build/
/Topics/Integer types and operations/Theory/out/
/Topics/Integer types and operations/Theory/out/production/classes/